# Video 31

In [1]:
## Getting started with tuples

In [2]:
# Tuple is a collection of elements similar to a list
# Tuple uses parentheses, whereas list uses square brackets
# Elements cannot be changed in tuple

In [3]:
t = (1,2.5,"hello",-4,"world",1.24,5)

In [4]:
t

(1, 2.5, 'hello', -4, 'world', 1.24, 5)

In [5]:
t[3]

-4

In [6]:
t[1:5:2]

(2.5, -4)

In [8]:
t[2] = "Hello"# Not mutable

TypeError: 'tuple' object does not support item assignment

In [12]:
for x in t:
    print(x)

1
2.5
hello
-4
world
1.24
5

In [13]:
a,b = 5,7

In [14]:
b,a = a,b

In [15]:
print(a,b)

7 5

In [21]:
a = 5
b = 7

In [22]:
print(a,b)

5 7

In [23]:
temp = a
a =b 
b = temp

In [24]:
print(a,b)

7 5

In [25]:
a = 2.5
b = "hello"

In [28]:
print(a,b)

hello 2.5

In [33]:
a,b = b,a

In [34]:
print(a,b)

2.5 hello

In [35]:
5,

(5,)

In [36]:
5,"hello",2,5

(5, 'hello', 2, 5)

In [37]:
tuple_exercize = 4,2.5

In [38]:
tuple_exercize

(4, 2.5)

In [41]:
# a= 5, is a tuple datatype

In [42]:
'''If we type,
a = (2,3)
a[0], a[1] = (3,4)
what is the output 
'''

# Error as tuples are imutable

'If we type,\na = (2,3)\na[0], a[1] = (3,4)\nwhat is the output \n'