# Video 25

## Sequence data types

In [1]:
num_list = [1,2,3,4]

In [2]:
num_list

[1, 2, 3, 4]

In [3]:
var_list = [1,1.2,[1,2]]

In [4]:
var_list

[1, 1.2, [1, 2]]

In [6]:
greeting_string = 'hello'

In [7]:
greeting_string

'hello'

In [8]:
k = "Single quote"

In [9]:
l = "Let's see how to include a single quote"

In [10]:
m = '''This is another "example" for string'''

In [11]:
person_tuple = (17,"Ram",56.8)

In [12]:
num_list[2]

3

In [13]:
num_list[-1]

4

In [14]:
greeting_string[3]

'l'

In [17]:
greeting_string[-2]

'l'

In [18]:
person_tuple[2]

56.8

In [19]:
person_tuple[-3]

17

In [20]:
num_list+var_list

[1, 2, 3, 4, 1, 1.2, [1, 2]]

In [24]:
a_string = " another string"

In [26]:
greeting_string+a_string

'hello another string'

In [28]:
t2 = ("Student",)

In [29]:
person_tuple + t2

(17, 'Ram', 56.8, 'Student')

In [30]:
len(num_list)

4

In [32]:
len(greeting_string)

5

In [33]:
len(person_tuple)

3

In [34]:
3 in num_list

True

In [35]:
'H' in greeting_string

False

In [36]:
"Sita" in person_tuple

False

In [37]:
max(num_list)

4

In [38]:
min(greeting_string)

'e'

In [39]:
sum(num_list)

10

In [40]:
num_list[1] = 9

In [41]:
num_list

[1, 9, 3, 4]

In [42]:
greeting_string[1] = 'k'

TypeError: 'str' object does not support item assignment

In [44]:
person_tuple[0] = 23

TypeError: 'tuple' object does not support item assignment

In [45]:
list_tuple = [(17,'Ram',56.8),(16,"Sita",48.9),(22,'raven',63.2)]

In [46]:
t = tuple(list_tuple)

In [47]:
t

((17, 'Ram', 56.8), (16, 'Sita', 48.9), (22, 'raven', 63.2))

In [48]:
tuple_list = ([2,"two"],[3,"three"],[4,"four"])

In [49]:
l = list(tuple_list)

In [50]:
l

[[2, 'two'], [3, 'three'], [4, 'four']]

In [52]:
otherstring = "Tim,Amy,Stewy,Boss"
otherstring.split(',')

['Tim', 'Amy', 'Stewy', 'Boss']

In [55]:
otherlist=['List','joined','on','commas']

In [56]:
','.join(otherlist)

'List,joined,on,commas'

In [58]:
spacestring =['Now','on','spaces']

In [59]:
' '.join(spacestring)

'Now on spaces'

In [65]:
# Assignment
l3ist = [1,7,5,3,4]

In [66]:
3 in l3ist

True

In [67]:
l3ist[2] = 21

In [68]:
l3ist

[1, 7, 21, 3, 4]

In [70]:
'''1. Convert the string "Elizabeth is queen of England" to "Elizabeth is queen".'''

'1. Convert the string "Elizabeth is queen of England" to "Elizabeth is queen".'

In [71]:
s = 'Elizabeth is queen of England'

In [72]:
stemp = s.split()

In [73]:
s = ' '.join(stemp[:3])

In [74]:
s

'Elizabeth is queen'

In [76]:
'''1. What is the major difference between tuple and list? 
2. Split the below string on whitespaces 
 s = "Split this string on whitespaces"'''

# Ans
# 1.Tuple cannot change the value at particular index
# * But list can change the value
# * Tuple is used to store data related to an item
# * But list is typically used to store items of identical type
s = "Split this string on whitespaces"
t = s.split(" ")

In [77]:
t

['Split', 'this', 'string', 'on', 'whitespaces']